.chain-cpanel
{
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: #eee url('../image/box.png') repeat-x;
	border-radius: 7px 7px 7px 7px;
	text-align: right;
}
.text-align-center {
	text-align: center;
}
.chain-quantity  input{
	width: 30px;
}
.chain-cpanel a 
{
	border: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 6px;
	display: inline-block;
	text-decoration: none;
	background-color: #d3d3d3;
	border-radius: 2px;
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	color: #000;
	margin-right: 4px;
}
.chain-cpanel a:hover 
{
	border-color: #c3c3c3;
	box-shadow: none;
}
.chain-cpanel a.chain_save_btn {
	background-color: #36c651;
	border-color: #29ab41;
}
.chain-cpanel a.chain_add_btn {
	background-color: #00bfef;
	border-color: #0696ba;
}
.chain-group
{
	margin: 10px;
	border: 1px solid #eee;
	background: #f3f3f3;
	border-collapse: collapse;
	clear: both;
}
.chain-group thead 
{
	background: #bbb;
}
.chain-group thead th {
	font-size: 1.1em;
	font-weight: normal;
	padding: 5px 10px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.chain-group td 
{
	padding: 9px 5px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.chain-group .chain-name 
{
	min-width: 200px;
}
.chain-group .chain-name input 
{
	min-width: 180px;
}
.chain-group .chain-price 
{
	min-width: 50px;
}
.chain-group .chain-combo-price 
{
	min-width: 150px;
}
.chain-group .chain-action
 {
	min-width: 175px;
}
.chain-product-action 
{
	margin-top: 2px;
	margin-left: 10px;
	display: block;
	float: left;
	width: 30px;
}
.chain-real-total-price 
{
	text-decoration: line-through;
	color: red;
}
.chain-total-price 
{
	color: green;
}
.totals-row {
	font-weight: bold;
}
a.combo-delete  {
	border: 1px solid #a21212;
	padding: 5px 8px;
	background: #c00f0f;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	color: #FFF;
}
a.combo-delete:hover {
	border-color: #990707;
	box-shadow: none;
}
.combo-chain-position {
	display: inline-block;
}
.combo-chain-position a {
	border: 1px solid #0786b0;
	padding: 5px 8px;
	background: #0d9bca;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	color: #FFF;
}
.combo-chain-position a:hover {
	border-color: #05698a;
	box-shadow: none;
}

.text_chain_manager_ad {

}