.qap-content{position:relative;font-size:14px;}
.qap-overlay{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;background-color:#ffffff;display:none;}
.tbl{display:table;width:100%;height:100%;}
.tbl.qap-max-h{max-height:200px;}
.tbl_cell{display:table-cell;vertical-align:middle;text-align:center;}
.tbl_cell img{display:inline;}
.no-border{border:0px !important;}
.no-margin{margin:0 !important;}
.no-padding{padding:0 !important;}
.top-border{border-top:1px dotted #CCCCCC !important;}
.no-btm-border{border-bottom:0px !important;}
.nowrap{white-space:nowrap;}

/* Custom */
.text-muted{color:#999999;}
#selectLanguage{margin:0 4px 0 0;width:auto;}
.likes-count{margin-right:10px;margin-left:3px}
.dislikes-count{margin-left:3px}
.answer_container{margin:0;padding-right:15px;max-height:500px;overflow-y:auto;}
.auto-width{width:auto;}
.align-right{text-align:right;}
/*Inputs*/
tr.filter select{width:auto;}
tr.filter input,tr.filter select{margin-bottom:0;}
input.filter{width:90%;}
input.filter.id{width:30px;}
input.filter.answers{text-align:right;width:50px;}
input.filter.email{width:160px;}
input.filter.author{width:120px;}
input.filter.product{width:200px;}
input.filter.date_added,input.filter.date_modified{width:80px;}
div.popover{max-width:400px;}
div.popover.right,div.popover.left{text-align:left;padding:1px;}
small{font-size:85%;}
strong{font-weight:bold;}
.icon-green{font-size:14px;color:#46a546;}
.icon-red{font-size:14px;color:#9d261d;}
.icon-danger{color:#9d261d;}
.controls .no-input{padding:7px 6px;display:inline-block;}
.qap-content a{color:#0088cc;text-decoration:none;}
.qap-content a:hover,a:focus{color:#005580;text-decoration:underline;}
.qap-content ul{padding:0;margin:0;}
.qap-content li{line-height:20px;}
ul.nav{margin-bottom:5px;}
.alert-block>p{margin-top:0;}
hr{margin:20px 0;border:0;border-top:1px solid #eeeeee;border-bottom:1px solid #ffffff;}
.tab-content legend span{display:inline-block;margin-left:60px;}

.error{font-size:14px !important;}/*OC override*/

/* Buttons */
button.btn-small,button.btn-mini{margin:0px;}
.icon-small{font-size:14px;line-height:14px;}
.btn-small:not(.btn-icon) [class^="icon-"],.btn-small:not(.btn-icon) [class*=" icon-"]{padding-right:4px;}
.btn-small:not(.btn-icon)>i[class^="icon-"],.btn-small:not(.btn-icon)>i[class*=" icon-"]{margin-left:-4px;}
.btn-mini.btn-view-question,.btn-mini.btn-view-answers{line-height:14px;font-size:14px;}
.list-view-buttons{margin-top:6px;}
a.btn-primary{color:#ffffff;}
a.btn:hover,a.btn:focus,a.btn:active,a.btn.active,a.btn.disabled,a.btn[disabled]{text-decoration:none;}
a.btn-primary:hover,a.btn-primary:focus,a.btn-primary:active,a.btn-primary.active,a.btn-primary.disabled,a.btn-primary[disabled]{color:#ffffff;text-decoration:none;}
.btn-link [class^="icon-"],.btn-link [class*=" icon-"]{text-decoration:none;}


/* Blockquote*/
blockquote{padding:0 0 0 15px;margin:0 0 20px;border-left:5px solid #eeeeee;}/*blockquote p{margin-bottom:0;font-size:17.5px;font-weight:300;line-height:1.25;}*/
blockquote small{display:block;line-height:20px;color:#999999;}blockquote small:before{content:'\2014 \00A0';}
blockquote.pull-right{float:right;padding-right:15px;padding-left:0;border-right:5px solid #eeeeee;border-left:0;}blockquote.pull-right p,blockquote.pull-right small{text-align:right;}
blockquote.pull-right small:before{content:'';}
blockquote.pull-right small:after{content:'\00A0 \2014';}
q:before,q:after,blockquote:before,blockquote:after{content:"";}

/* Modals */
.modal-header h3 small{font-size:14px;}
.modal-header h3{font-size:24.5px;}
.modal-header h3{font-family:inherit;font-weight:bold;color:inherit;text-rendering:optimizelegibility;}
.modal-header h3 small{font-weight:normal;line-height:1;color:#999999;}
.modal-body ul{margin:0 0 10px 25px;padding:0;}
.modal-body li{line-height:20px;}

/* Control Group error adjustments */
.control-group input.error,.control-group select.error,.control-group textarea.error,.control-group.error ul.scrollbox{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.control-group .input-prepend.error input,.control-group .input-prepend.error select,.control-group .input-prepend.error textarea, .control-group .input-append.error input,.control-group .input-append.error select,.control-group .input-append.error textarea{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.control-group input.error:focus,.control-group select.error:focus,.control-group textarea.error:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;}
.control-group .input-prepend .add-on.error,.control-group .input-append .add-on.error,.control-group .input-prepend.error .add-on,.control-group .input-append.error .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
.control-group>label.error,.control-group .help-block.error,.control-group .help-inline.error{color:#b94a48;}
.control-group .checkbox.error,.control-group .radio.error,.control-group input.error,.control-group select.error,.control-group textarea.error{color:#b94a48;}

.control-group .checkbox.info,.control-group .radio.info,.control-group input.info,.control-group select.info,.control-group textarea.info{color:#3a87ad;}
.control-group input.info,.control-group select.info,.control-group textarea.info{border-color:#3a87ad;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.control-group input.info:focus,.control-group select.info:focus,.control-group textarea.info:focus{border-color:#2d6987;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;}
.control-group>label.info,.control-group .help-block.info,.control-group .help-inline.info{color:#3a87ad;}

/* Dropdown adjustments*/
.dropdown-menu>li>a{font-size:14px;text-decoration:none !important;}
/* Accordion adjustments */
.accordion-heading{background:initial;border:initial;padding:initial;font-size:inherit;font-weight:inherit;color:inherit;margin:initial;}
.accordion-heading a{float:initial;margin:initial;}
.accordion-heading .meta{text-decoration:none;color:initial;display:inline-block;}
.answer-author{display:inline-block;font-weight:bold;}
.answer-excerpt{display:inline-block;overflow:hidden;text-overflow:ellipsis;width:70%;white-space:nowrap;}
.answer-date{margin-right:10px;}
div.multi-input:not(:last-child){margin-bottom:10px;}

/* Nav tab header adjustments*/
.nav-tabs>li>a.error,.nav-pills>li>a.error{color:#b94a48;background-color:#fcf8e3;margin-top:0px;}
.nav-tabs>li>a.error{border:1px solid transparent;border-bottom:1px solid #ddd;}
.tabs-left>.nav-tabs>li>a.error{border:1px solid transparent;border-right:1px solid #ddd;}
.tabs-right>.nav-tabs>li>a.error{border:1px solid transparent;border-left:1px solid #ddd;}
.tabs-below>.nav-tabs>li>a.error{border:1px solid transparent;border-top:1px solid #ddd;}
.nav-pills>.active>a.error,.nav-pills>.active>a.error:hover{color:#ffffff;border:1px solid transparent;background-color:#b94a48;}
.nav-tabs>.active>a.error,.nav-tabs>.active>a.error:hover{color:#b94a48;cursor:default;background-color:#ffffff;border:1px solid #ddd;border-bottom-color:transparent;}
.nav>li>a.error:hover{background-color:#f2dede;}
.nav-tabs>li>a.error:after, .nav-pills>li>a.error:after{content:" *";}

/* Custom controls */
.scroll_box{margin:0;font-size:100%;vertical-align:middle;font-size:14px;font-weight:normal;line-height:20px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;display:inline-block;padding:4px 6px;font-size:14px;color:#555555;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #cccccc;background-color:#ffffff;height:100px;overflow-y:scroll;}
.scroll_box>div:hover{background-color:#f5f5f5;}
.scroll_box>div{display:block;padding:3px;clear:both;font-weight:normal;line-height:20px;color:#333333;}
.scroll_box>div>button.remove{line-height:20px;margin-right:3px;cursor:pointer;text-decoration:none;padding:0;}