.navbar {
  float: left !important;
  margin: 0 0 0 -18px;
}
.navbar-nav > li {
  float: right;
}
#pav-mainnav .navbar ul.nav > li:first-child {
  border-left: 0;
}
#pav-mainnav .navbar ul.nav > li:last-child {
  border-left: 1px solid #E5E5E5;
}
.nav {
  padding-right: 0;
}
#header #cart .content {
  right: inherit;
  left: 0;
}
.discount .carousel-controls {
  right: inherit;
  left: -1px;
}
.newest .carousel-controls {
  right: inherit;
  left: 0;
}
.product-block .cart span {
  float: right;
}
#pav-mass-bottom .carousel-controls {
  right: inherit !important;
  left: 10px !important;
}
#footer .footer-top .carousel-controls {
  right: inherit;
  left: 0;
}
#footer .footer-top .t-avatar {
  float: right !important;
  margin: 0px 0px 0px 20px !important;
}
#footer .footer-center .carousel-controls {
  right: inherit;
  left: 0;
}
#footer .footer-bottom ul > li span.icon {
  margin: 0px 0px 0px 10px !important;
  padding: 0px 7px 0px 0px !important;
}
