.top-bar .login { margin:0; font-family:inherit;}
.top-bar {font-size:13px !important; font-family:inherit; }
.top-bar div { width:auto !important; /*height:37px; padding-left:4px;float:none; line-height:37px;*/}
.top-bar div .cart { padding-left:0;}
.language { margin-left:-1px !important;}
.currency button, .language button { height:37px;}

#header .cart {padding-left:0;}
#header #cart {padding-left:0;}
#header #cart .heading{background:#41A62A; width:160px !important; margin:0; padding: 0 5px 0 10px; height:37px;}
#header #cart .content { top:35px; border-top:none; padding:20px 0 0 10px; border-radius:8px; background:transparent; min-width:336px;}

#header #cart .checkout { height:50px; display:block; background:#363636; padding:12px; border-top-left-radius:8px; border-top-right-radius:8px; float:none; }
#header #cart .checkout a {float:right; background:none;}
#header #cart .checkout a:hover {-webkit-box-shadow:none; box-shadow:none;}
#header .mini-cart-info { display:block; height:auto; padding:0; border-bottom-right-radius:8px; border-bottom-left-radius:8px; float:none;}
#header .mini-cart-info tr {border-top:1px solid #a8b0b6;}
#header .mini-cart-info .image { width:35%; padding:0 0 10px 30px; }
#header .mini-cart-info .name { width:35%; text-align:center;}
#header .mini-cart-info .image img { border:none; }
#header .mini-cart-info td.total { text-align:center; line-height:66px; color:#af0917; }
#header .mini-cart-total td { color:#111111;}
#header .emptyy { text-align:center; color:#111111; }
.btn-success { background-color:#3ea228; border-color:#3ea228; padding:6px 12px; box-shadow:0px 3px 0px 0px #0E4D11;}
.btn-success:hover{color:#ffffff !important;box-shadow:0px 3px 0px 0px #0E4D11;}

.fa.pull-right { padding-top: 2px; }
.top-bar #search { background: #ffffff url(../image/search.png) no-repeat -18px 0; width:auto; margin-right:2px; line-height:37px; height:37px;}
.top-bar #search input { padding:0; height:37px;margin-top:0; width:auto; margin-right:0; }
.top-bar .cart #cart {width:auto !important;}
.currency, .language {border:none;}
#pav-mainnav .navbar-nav > li > .dropdown-menu { border-top:none; left:-280%; text-align:center; padding:0; }
#shopnowul li a { text-align:left; }
.pavo-widget { }
.pav-megamenu .mega-col .mega-col-inner > ul {}
.menu-titleshopnow { font-size: 14px;
    text-transform: uppercase;
    color: #21272c !important;
    font-family: "proximanova-semibold", serif;
    line-height: 40px;
    padding: 10px 0px;
}

#pav-mainnav .dropdown-menu li .fa {  padding-right: 8px; color:#D91718; }
.widget-product { padding-bottom: 15px; }
.pavo-widget .rating { display:none; }
.col-sm-2 { width: 15.666666666667%; }
.repairclass { padding:5px; }
#pav-mainnav .dropdown-menu ul > li { border:none; height:22px; }
#pav-mainnav .dropdown-menu li > a { padding:0;  }
.widget-shop .mega-col-inner { margin-top:15px; } 
.repairservices { background-color:#41a62a; height:48px; padding-top:5px; line-height:3; } 
.repairtitle {font-size:18px; color:#ffffff;}
#repairwidgettitle { color:#222 !important; line-height:0; }
.hwrap { }
.hwrap .rpimg { height:111px; }
.hwgreen { 
padding:0 10px;
height:279px;
color:#fff;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #50BA33),
	color-stop(0.66, #329221)
);
background-image: -o-linear-gradient(bottom, #50BA33 0%, #329221 66%);
background-image: -moz-linear-gradient(bottom, #50BA33 0%, #329221 66%);
background-image: -webkit-linear-gradient(bottom, #50BA33 0%, #329221 66%);
background-image: -ms-linear-gradient(bottom, #50BA33 0%, #329221 66%);
background-image: linear-gradient(to bottom, #50BA33 0%, #329221 66%);
}
.hwgreen span { color:#fff !important; }
.hwgreen .button { font-weight:normal; font-size:16px; color:#41a62a !important; background-image:none; background-color:#ffffff; border-bottom-left-radius:1px; border-bottom-right-radius:1px; border-top-left-radius:3px; border-top-right-radius:3px; }
.hwgreen .button:hover { color:#41a62a; background-image:none; border-radius:6px; }
.input button { border-radius:5px;  background-color:#3ea228; border-color:#3ea228; padding:6px 12px; box-shadow:0px 3px 0px 0px #0E4D11; }
.input button:hover{color:#ffffff !important; box-shadow:0px 3px 0px 0px #0E4D11;}
.button, input.button { border-radius:5px; background-color:#3ea228; border-color:#3ea228; padding:6px 12px; box-shadow:0px 3px 0px 0px #0E4D11; }
.button, input.button:hover {border-radius:5px; color:#ffffff !important;box-shadow:0px 3px 0px 0px #0E4D11; }
#pav-mainnav .navbar-nav > li > .dropdown-menu .menu-title { color:#af0917;}
#pav-mainnav .navbar-nav > li > .dropdown-menu .mod { margin-left:45px; margin-top:25px; }
#pav-mainnav .navbar-nav > li > .dropdown-menu .widget-html { margin-top:15px; }
#pav-mainnav .navbar ul.nav > li:hover { box-shadow:none;}
.menu-desc {display:none;}
#logo img {margin-top:0; }
#pav-mainnav .navbar ul.nav > li:first-child {
  
  border:none;
}
.success, .warning, .attention, .information { border-radius:0;}
#notification a {color:#ffffff;}
#pav-mainnav .navbar ul.nav > li > a span {
  
  float:left; 
  
}

#pav-mainnav .navbar ul.nav > li {
  border:none;
  
}

#pav-mainnav .navbar ul.nav > li:hover > a > b.caret {
  border-bottom-color: #D91718;
  border-top-color: #D91718;
}

#pav-mainnav .navbar ul.nav > li > a b.caret {
  display: block;
  float:right;
  margin-top:22px;
  margin-left:5px;
  border-bottom-color:#D91718;
  border-top-color:#D91718;
}
.dropdown-toggleshop { margin-left:16px !important; text-align:left; }
#shopnowfirst {margin-left:20px; }
.currency i, .language i {
	background-color:inherit;
}

