.option strong{
	display: block;
	float:left;
	width:80px;
	border-radius: 50%;
}
.select strong{
	line-height:33px;
}	
.op li{
	display:inline-block;
	cursor:pointer;
}
.options .color li{
	
}
.options .color li.active{

}
.options .size{
	padding-bottom:3px;
}
.options .size li{
	background:#fff;
	width:40px;
	text-align:center;
	border:1px solid #d6d6d6;
	line-height:29px;
	display:inline-block;
	font-size:14px;
	color:#212121;
	text-transform:uppercase;
	font-weight:bold;
	-webkit-border-radius:3px;
}
.options .size li.active{
	border-color:#999;
}