@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
@import url(ss-styles.css);
* {
	font-family: 'Titillium Web', 'Verdada', 'Helvetica';
}
*:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Titillium Web', 'Verdada', 'Helvetica';
}

.dropdown-menu { margin-top: 0; }
.pav-megamenu .navbar { margin-bottom: 0; font-weight: 600; }
.currency, .language { font-weight: 600; margin-right: 2px; margin-bottom: 1px; }
.login a { color: #57ec11; }

.clearfix {
	clear: both;
}

#header #cart .content .cart-item-count {
	float: left;
}

#order {
	background: url(../image/subunlink-bg.png) no-repeat;
	background-size: 100% auto; 
	min-height: 450px;
	font-weight: 600;
	font-size: 1.3em;
	position: relative;
	z-index: -2;
}

.shadow-effect {
	width: 100%;
	height: 450px;
	bottom: 0;
	position: absolute;
	z-index: -1;
}

#order h2 {
	text-transform: uppercase;
	text-align: right;
	font-size: 32px;
	line-height: 32px;
	color: #000;
	padding: 50px 10px;
}

#order .price,
#order .model {
	font-size: 1.4em;
}

#order .highlight {
	color: #af0917;
}

#order p.description {
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
	color: #333;
}

.order-container>div h3 {
	text-transform: uppercase;
}

.order-container>div {
	background: rgba(255,255,255,.8);
	padding: 15px;
	text-align: center;
	height: 173px;
	position: relative;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	/*border-left: 1px solid #c0c0c0;*/
}

.order-container>div>.border-arrow {
	position: absolute;
	top: 0;
	left: 0;
}

.order-container>div:first-child {
	border-left: 1px solid #c0c0c0;
}

.order-container>div:last-child {
	border-right: 1px solid #c0c0c0;
}


.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 25px 30px 0 30px;
	border-color: #ffffff transparent transparent transparent;
	top: 25px;
	position: relative;
}

.post-order{
	position: relative;
	background: #363636;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.post-order .container {
	padding: 20px;
}

#details {
	padding: 20px 10px;
}

#details .container {
	padding-bottom: 30px;
}

#details h2 {
	color: #af0917;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 55px;
}

#details input,
#details textarea {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px 20px;
	resize: none;
}

#details input {
	padding: 5px 20px;
}

#details input.firstname {
	background-image: url(../image/person.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}

#details input.email {
	background-image: url(../image/envelope.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}

#details textarea.comment {
	background-image: url(../image/pencil.png);
	background-position: right 10px top 10px;
	background-repeat: no-repeat;
}

#details a img {
	margin: 0;
}

#details img+span {
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
}

.unlocking-page {
	background: url(../image/unlock-bg.png) fixed no-repeat;
	/*background-position: top 10%;*/
	/*background-size: 100%;*/
	min-height: 500px;
	position: relative;
	padding-bottom: 180px;
}

.unlocking-page .phones {
	margin: 40px 0;
}

#sub-menu-u {
	background: url(../image/unlock-bg-blur-b.png) fixed no-repeat;
	/*background-size: 100%;*/
}

#unlock-feed {
	background: url(../image/unlock-bg-blur.png) fixed no-repeat;
	/*background-size: 100%;*/
}

#unlock-feed .left,
#unlock-feed .content {
	padding: 20px 0;
	height: 130px;
}

#unlock-feed .left{
	background: #fff;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
	color: #363636;
	font-size: 40px;
	text-align: right;
}

#unlock-feed .left span{
	color: #af0917;
	font-size: 0.7em;
	display: block;
	margin-bottom: -15px;
}

#unlock-feed .content {
	position: relative;
	padding-left: 80px;
}

#unlock-feed .content .time {
	color: #af0917;
}

#unlock-feed .content .name {
	font-weight: 600;
}

#unlock-feed .content .message {
	margin: 5px 0;
}


#unlock {
	background-size: 100%;
	position: relative;
	top: -150px;
}

#unlock>img {
	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 0;
}

#unlock .start-now {
	text-align: center;
	position: relative;
	top: 7%;
}


#unlock .unlock-now {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 0px;
	width: 200px;
}

#unlock .row p {
	color: #fff;
}

#unlock .row select,
#unlock .row input {
	width: 100%;
}

.white-triangle {
	width: 0px;
	height: 0px;
	border-style:solid;
	border-width: 65px;
	border-right-style:none;
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-left-color:#ffffff;
	position: absolute;
	left: 0;
	top: 0;
}

.sp {
	width: 100%;
}

#sub-menu-u h2 {
	color: #000;
	font-size: 32px;
	text-align: center;
	border-bottom: 1px solid #fff;
	margin: 0;
	padding:  40px;
}

.submenu-btn {
	border: 1px solid #cccccc;
	border-radius: 3px;
	background: #fff;
	color: #b52e36;
	padding: 10px 20px;
	font-weight: 600;
	display: inline-block;
	text-align: center;
}

.submenu-btn:hover {
	color: #000;
}

.sub-menu-container {
	position: relative;
	top: -22px;
}

.banner img {
	width: 100%;
	height: auto;
}

#sub-menu {
	background: #f1f1f1;
	/*padding: 20px 10px;*/
}

.btn-red-box,
.btn-red-box:active {
	background: url(../image/red-box.png);
	background-size: 100%;
	color: #fff !important;
	text-transform: uppercase;
	border-radius: 0;
	padding: 16px;
	margin: 1px;
}

.dropdown-dark {
	background: #363636;
	border-radius: 0;
}

.dropdown-dark li a {
	color: #fff;
}

.dropdown-dark li a:before {
	content: "\f0da";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 5px;
}

.ssm li,
.ssm li:first-child {
	border: none !important;
}

.ssm {
	float: left;
	padding: 17px !important;
}

.socialbar_mini span {
	float: left;
	margin-top: 23px;
}

.preview {
	position: relative;
	display: block;
	border: 1px solid #c1c1c1;
}

.preview .product {
	width: 100%;
}

.preview .sale {
	position: absolute;
	background: url(../image/sale.png);
	width: 70px;
	height: 62px;
	right: 20px;
	top: -7px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	font-size: 20px;
	line-height: 18px;
	padding-top: 12px;
}

.price .current {
	font-size: 35px;
	line-height: 35px;
	color: #41a62a;
	font-weight: 600;
}

.price .old {
	font-size: 14px;
	color: #af0917;
	font-weight: 600;
	text-decoration: line-through;
	position: relative;
	top: -6px;
	margin-left: 5px;
}

.addToCart {
	cursor: pointer;
}

.addToCart:active {
	position: relative;
	top: 1px;
}

.product-container {
	padding-bottom: 30px;
	padding-top: 20px;
}

.product-container h3 {
	font-size: 20px;
}

#product-cont h2 {
	text-transform: uppercase;
	position: relative;
	top: -43px;
}

#product-cont hr {
	border-color: #e1e1e1;
}

#dailyContainer h2 span {
	background: #fff
}

.pagination-a span {
	font-size: 7px;
	display: inline-block;
	text-align: center;
	width: 25px;
	height: 25px;
	padding: 9px;
	border: 1px solid #e1e1e1;
	background: #fff;
	cursor: pointer;
}

.bx-prev,
.bx-next,
.bx-controls {
	display: none;
}

#weeklyContainer,
#weeklyContainer h2 span {
	background: #f1f1f1;
}

#dailyContainer,
#weeklyContainer {
	padding-top: 30px;
}

.guide-page .banner-head {
	background: url(../image/guide-bg.png);
	min-height: 150px;
	padding: 20px 0;
}

.banner-head .repair-header {
	color: #af0917;
	text-align: center;
	font-size: 80px;
	margin-bottom: 40px;
}

.banner-head .container {
	margin-top: 30px;
}

.banner-head img {
	width: 100%;
}

.banner-head .devices {
	position: relative;
	bottom: -40px;
}

.banner-head .tools {
	position: relative;
	bottom: -20px;
}

.guide-page .contant {
	background: #f1f1f1;
}

.guide-page .contant .container>h2 {
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}

.video {
	position: relative;
}

.play-button {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	cursor: pointer;
}

.videoContainer .video img:first-child {
	width: 100%;
}

.videoContainer {
	padding-bottom: 40px;
	background: #af0917;
	color: #fff;
	position: relative;
}

.videoContainer h3 {
	text-align: center;
	font-size: 16px;
	line-height: 45px;
}

.allGuides,
.allGuides:hover {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: -20px;
	padding: 10px;
	background: #e2001a;
	color: #fff;
	display: block;
	width: 160px;
	text-align: center;
}

#repair-section {
	margin-top: 90px;
	margin-bottom: 50px;
}

.repair {
	position: relative;
	border: 1px solid #e1e1e1;
	padding: 20px;
	background: #fff;
}

.repair h4 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 20px;
}

.repair-preview {
	position: relative;
	display: block;
	height: auto;
}

.repair-preview img {
	width: 100%;
}

.repair-preview p {
	background: rgba(0,0,0,.7);
	padding: 10px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.repair-icon {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../image/red-box.png);
	color: #fff;
	font-size: 20px;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	padding-top: 16px;
	border-radius: 100%;
	top: -25px;
}

.guide-list {
	margin: 0;
	padding: 0;
}

.guide-list li {
	list-style: none;
	border-bottom: 1px solid #e1e1e1;
	padding: 7px 4px;
}

.guide-list li:hover {
	background: #e1e1e1;
}

.guide-list li a,
.guide-list li a:hover {
	color: #000;
	font-size: 14px;
}

.guide-list li a .fa {
	color: #af0917;
}

.allRepair,
.allRepair:hover {
	color: #af0917;
	float: right;
}


.guides-btn,
.guides-btn:hover {
	background: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: 3px;
	width: 100%;
	padding: 10px 20px;
	display: block;
}

.main_menu {
    background: #fff;
}

.btn:active,
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.my-btn {
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 20px;
	padding: 10px 30px;
	border: none;
}

.my-btn:focus {
	outline: none;
}

.my-btn.red {
	background: #af0917;
	color: #fff;
}

.my-btn.green {
	background: #41a62a;
	color: #fff;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer_row_span_t {
	display: inline-block;
	height: 49px;
	width: 25%;
}

.footer_row_span_t div {
	display: inline-block;
	margin-top: 15px;
	font-size: 18px;
	color: white;
	margin-left: 2px;
}

.box-content .heading {
	font-size: 20px;
}

.social-media a {
	background:url('../image/social.png');
	width:32px;
	height:32px;
	display:inline-block;
}

.fb
{
	background-position: 0 0;
}

.twtt
{
	background-position: -43px 0 !important;
}

.youtube
{
	background-position: -86px 0 !important;
}


.pinterest
{
	background-position: -171px 0 !important;
}


.instagram
{
	background-position: -128px 0 !important;
}

.sale-title a,
.sale-title a:hover {
	color: #575757;
	font-size: 22px;
}

.testimonial-wrapper {
	padding: 25px 0;
	border-bottom: 1px dashed #c1c1c1;
}
.testimonial-wrapper:last-child {
	border: none;
}
.bloglatest .h2head,
.gallerylastest .h2head  {
	margin-bottom: 0;
}
.bottom-panel .buttons_s {
	background: #41a62a;
	color: #fff;
	padding: 10px 0;
}

.bottom-panel .buttons_s a {
	color: #fff;
	font-size: 32px;
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
}
.bottom-panel .buttons_s p{
	line-height: 20px;
	text-align: left;
}
.bottom-panel .buttons_s a span{
	text-transform: uppercase;
	font-size: 0.4em;
}
.bottom-panel .buttons_s .container div:first-child {
	border-right: 1px solid #7ac16a;
}
.bottom-panel .buttons_s img {
	margin: 0;
	margin-right: 15px;
	float: left;
}
.subscribe {
	background: url(../image/guide-bg.png);
	padding: 10px 0;
}
.subscribe input[type="submit"] {
	padding: 10px;
	color: #fff;
	background: #d7161a;
	border: none;
	border-radius: 5px;
	letter-spacing: 4px;
}
.subscribe input[type="submit"]:hover {
	background: #E44C50;
}
.subscribe .fa.fa-envelope {
	color: #d7161a;
	font-size: 58px;
}
.subscribe input.email {
	background-image: url(../image/envelope.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}
.subscribe .container form>div {
	height: 60px;
}
.subscribe  input{
	width: 100%;
	padding: 10px 20px;
	margin: 7px 0;
}
.subscribe p {
	font-size: 16px;
	font-weight: 600;
	padding: 20px 0;
}

.livechat,
.livechat:hover {
	color: #fff;
}

.top-buttons {
	display: inline-block;
	padding: 2px 24px !important;
	text-align: center;
	font-weight: 600;
	font-size: 13px;
	border-right: 1px solid #000;
	line-height: 33px;
}

.top-bar .row>div {
	min-height: 38px;
}

.search {
	height: 100%;
	text-align: center;
	font-size: 20px;
	/*padding: 21px;*/
	line-height: 72px;
	cursor: pointer;
}
.cart_search .sr {
	overflow: hidden;
	height: 70px;
}

.bottom-menu {
	text-align: center;
	border-top: 1px solid #373737;
	padding: 20px !important;
	margin-top: 20px;
}

.bottom-menu li {
	list-style: none;
	display: inline-block;
}

.bottom-menu li {
	border-right: 2px solid #676767;
}

.bottom-menu ul>li:last-child {
	border: none;
}

.bottom-menu a {
	color: #676767 !important;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 10px;
}

.greenGradient,
#cart .heading:hover {
	background: #4cb732; /* Old browsers */
	background: -moz-linear-gradient(top,  #4cb732 0%, #329021 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb732), color-stop(100%,#329021)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4cb732 0%,#329021 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4cb732 0%,#329021 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4cb732 0%,#329021 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4cb732 0%,#329021 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb732', endColorstr='#329021',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.whiteGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #c6c6c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#c6c6c6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#c6c6c6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
	color: #000;
}

.redGradient {
	background: #c70c1e; /* Old browsers */
	background: -moz-linear-gradient(top,  #c70c1e 0%, #980710 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c70c1e), color-stop(100%,#980710)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c70c1e 0%,#980710 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c70c1e 0%,#980710 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c70c1e 0%,#980710 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c70c1e 0%,#980710 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70c1e', endColorstr='#980710',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.dropdown .redGradient {
	background: #af0917;
}

.dropdown .greenGradient {
	background: #41a62a;
}

.language .dropdown-menu {
	left: 0px;
}

.currency .dropdown-menu {
	left: 0px;
}

.top-call {
	position: relative;
}
.top-call:hover .top-time{
	display: block;
}
.top-call .top-time {
	position: absolute;
	/*background: #363636;*/
	z-index: 2000;
	display: none;
}
.blog-item .image {
	position: relative;
	max-width: 100px;
}
.blog-item .image,
.blog-item .image img {
	width: 100% !important;
}
.blog-item .image .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(194, 23, 23, 0.9);
	color: #fff;
	padding: 10px;
	display: none;
}
.blog-item:hover .overlay {
	display: block;
}
.mobile-button {
	/*position: absolute;*/
	background: transparent;
	z-index: 50;
	/*left: 10px;*/
	min-height: 70px !important;
}
.main_menu {
	float: left;
	margin: 17px 0;
	max-width: 44px !important;
}
.no-padding {
	padding: 0;
}
.search.redGradient:hover {
	background: #E44C50;
}
.search.greenGradient:hover {
	background: #4cb732;
}
#search-inner input {
	width: 100%;
	border: none;
	border-radius: 0;
	padding: 20px 30px;
	font-size: 25px;
}
#search-inner {
	background: #fff;
}
#search_f {
	position: fixed;
	top: 38px;
	max-height: 70px;
	z-index: 2000;
	overflow: hidden;
	display: none;
	left: 0;
	right: 0;
}
#search_f .container {
	padding-left: 0;
}
.shopnowul {
	padding: 0;
	text-align: left;
}
.shopnowul li {
	list-style: none;
	font-size: 14px
}
.nav.megamenu h4 {
	text-transform: uppercase;
	font-size: 14px;
}
.menu-top-title {
	padding: 15px;
	font-size: 17px;
	text-align: center;
	text-transform: uppercase;
}
.megamenu h4 {
	text-align: left;
	color: #000;
	font-weight: 700;
	font-family: 'Titillium Web', 'Verdada', 'Helvetica';
}
.pavo-widget .hwrap>.menu-title ,
.pavo-widget>.menu-title {
	display: none;
}
.shopnow .btn-success{
	margin: 0 10px;
}
.repairParts {
	position: relative;
}
.widget-product {
	background: #d4d4d4;
	padding: 0;
	height: 310px;
}
.widget-product .price-old {
	margin-left: 10px;
	text-decoration: line-through;
	color: red;
}.widget-product .cart {
	display: none;
}
.widget-product .price-new {
	cursor: pointer;
}
.widget-product img{
	height: 200px;
	/*width: 200px;*/
}
.repair-parts {
	/*border-left: 1px solid #fff;*/
	border-right: 1px solid #e1e1e1;
	height: 333px;
}
.repair-parts .rpimg {
	margin: 45px 0;
}
.repair-parts-s .menu-top-title {
	font-size: 14px;
}
.repair-parts-s {
	border-right: 1px solid #c1c1c1;
	min-height: 230px;
}
.repair-parts-s .menu-top-title{
	color: #D91718;
}
.repair-parts-s-green {
	background: #4cb732;
	color: #fff;
	/*min-height: 314px;*/
}
.repair-parts-s-green .menu-top-title{
	color: #fff;
}
.repair-parts-s-green .btn-success,
.repair-parts-s-green .btn-success:hover{
	color: #398439 !important;
	background: #fff;
	margin-top: 29px;
}
.repair-parts-s-green .rpimg {
	height: 79px !important;
}
.diy .menu-top-title{
	font-size: 14px;
	font-weight: 600;
	color: #D91718;
	padding: 0;
	padding-top: 20px;
	margin: 0;
}
.diy:hover {
	background: #DFDFDF;
}
#pav-mainnav .navbar-nav > li:last-child > .dropdown-menu {
	left: 0;
	right: auto;
	padding: 20px;
}
#pav-mainnav .navbar-nav > li:last-child {
	position: relative !important;
}
.mega-col.s:first-child {
	padding-right: 0;
	border-right: 2px solid #e1e1e1;
}
.mega-col.s:last-child {
	padding-left: 0;
}
#pav-mainnav .navbar-nav > li:last-child > .dropdown-menu .mega-col.s{
	border: none;
}

#product-page {
	background: #f1f1f1;
	padding-top: 30px;
}
.banner_nav_left,
.banner_nav_right {
	color: #FFFFFF !important;
	padding: 10px;
}
.sel {
	background: url(../image/select-arrow.png) right 5px top 11px no-repeat, #fff;
	border: 1px solid #c1c1c1;
	padding: 3px 20px 3px 10px !important;
	width: 100%;
}
.pav-megamenu {
	max-height: 70px; 
	z-index: 50;
}
.pav-megamenu .navbar{
	max-height: 70px; 
	min-height: 70px; 
}

#pav-mainnav .navbar-nav > li > .dropdown-menu { 
	border-top:none; 
	text-align:center; 
	padding:0;
	background: #fff; 
	left: auto;
	right: -173px;
}
#pav-mainnav .navbar-nav > li{
	position: static;
}
#pav-mainnav .megamenu {
	position: relative;
}
.b-icon {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 0;
	margin-right: 15px;
	float: left;
	transition: all 0.4s ease 0s;
}
.bottom-panel .but:hover .b-icon {
	background-position: 0px -72px !important;
}
.bottom-panel .but:hover p {
	color: #2d2d2d;
}
.b-icon.support {
	background: url(../image/support-icon2.png) no-repeat;
}
.b-icon.plane {
	background: url(../image/plane-icon2.png) no-repeat;
}
.s_b {
	height: 81px;
}
.fixed_menu {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 5555;
}
#search_f.scrolled {
	top: 0;
	z-index: 5556;
}
input[type="text"]:focus {
	outline: none;
}
.shopnow {
	position: relative;
	padding: 10px;
}
.shopbtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.footer-bottom .cont li a {
	background: url("../image/footer_arrow.png") no-repeat scroll 0 -19px transparent;
	padding-left: 12px;
	color: #a6bac4;
	font-size: 14px;
	transition: all 0.4s ease 0s;
}
.footer-bottom .cont li a:hover {
	background-position: 0 5px;
}
#filterpro .option_box {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
#filterpro_box .ui-slider-horizontal {
    background: url("../image/pricebarbg.png") 0px 0px no-repeat transparent;
    height: 14px;
    margin-left: auto;
	margin-right: auto;
    margin-top: 4px;
    width: 198px;
    border: none;
}
#filterpro_box  .ui-slider-handle,
#filterpro_box  .ui-slider-handle:hover,
#filterpro_box  .ui-slider-handle:active {
    background: url("../image/scrollhandle.png") 0px 0px no-repeat transparent !important;
    float: left;
    height: 21px;
    width: 14px;
    border: none;
    cursor: pointer;
}
#filterpro_box  .ui-slider-range {
    background: url("../image/slider_bg.png") 0px 0px repeat-x transparent !important;
}
.price_arrow_one {
	background: url("../image/pricebarcloud.png") 0 0 no-repeat;
	width: 7px;
	height: 6px;
	bottom: -4px;
}
.price_tooltip {
    background: #AF0917 !important;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: "titillium_webregular", sans-serif;
    font-size: 12px;
    padding: 1px 8px 1px 4px;
    position:relative;
    display: inline-block !important;
    width: auto;
    height: 17px;
    margin-bottom:5px;
}
.price_tooltip .price_arrow_one {
    left: 47%;
    margin: 0px 0px 0px 0px;
    position: absolute;
}
.sidebar_filter_text {
	margin-top: 14px;
	color: #AF0917;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 20px;
	display: block;
	font-size: 17px;
}
.filter_button_container {
    padding-top: 28px;
    padding-bottom: 30px;
    text-align: center; 
}
.sidebar_filter_button {
	display: inline-block;
	width: 73px;
	padding-left: 0px;
	padding-right: 0px;
	background: url("../image/button_cart_bg.png") 0 100% repeat-x !important;
	color: white;
	font-family: titillium_websemibold, sans-serif;
	font-size: 14px;
	text-align: center;
	border: 0;
	border-radius: 5px;
	box-shadow: none !important;
}
.product_left_buttons {
	padding: 10px 20px;
}
.product_left_buttons select {
	margin: 5px 0;
	padding: 20px;
}
ul.box-category {
	padding: 0 30px;
}
ul.box-category li {
	list-style: none;
}
ul.box-category li a{
	background: url("../image/footer_arrow.png") no-repeat scroll 0 -19px transparent;
	padding-left: 12px;
}
.prod-list {
	padding: 0;
}
.product-list .prod-list {
	width: 100% !important;
}
#filterpro select {
	width: 100% !important;
}
#breadcrumb {
	font-size: 13px !important;
	font-weight: 600 !important;
}
.breadcrumb > li+li:before {
	content: ">";
	padding: 5px 5px;
	color: #000;
	font-size: 10px;
	position: relative;
	top: -1px;
}
#breadcrumb .ur {
	color: #AF0917;
	/*font-size: 16px;*/
	float: left;
	line-height: 35px;
	margin-right: 10px;
	
}
.carousel-controls1 {
	width: 92px !important;
}
.carousel-control1 {
	border-radius: 0 !important;
	width: 46px !important;
}
.left-part,
.right-part {
	/*float: left;*/
	position: static;
}
.rel-prod {
	/*padding: 10px;*/
	border: 1px solid #d7d7d7;
	position: relative;
	background: #fff;
}
.rel-prod .inner{
	padding: 10px;
}
.rel-prod .checkbox {
	padding: 3px 10px;
}
.rel-prod .image img { 
	margin: 0;
}
.rel-prod .price {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #af0917;
}

.product-info .image img {
	margin: 0;
}
.cart .cart-single .fa-shopping-cart,
.cart .cart-single .fa-shopping-cart:hover {
	background: #116c07 !important;
	border-radius: 0 !important;
	position: absolute;
	height: 103% !important;
	width: 26% !important;
	top: 0px;
	left: 0;
	padding: 8px;
}

.add_cart.cart-single {
	position: relative;
	padding-left: 52px;
}
#available-block {
	font-size: 12px;
}
#available-block.available {
	color: #41a62a;
}
#available-block.not-available {
	color: #af0917;
}
.offcanvas-container.page-product,
.offcanvas-container.page-category  {
	background: #f1f1f1;
}
.dropdown .btn-success {
	font-size: .9em;
}
.dropdown-menu {
	overflow: hidden;
}
.col-h .currency,
.col-h .language {
	/*padding-left: 2px !important;*/
}
.service-p {
	font-size: 13px;
	line-height: 13px;
	min-height: 52px;
	display: block
}
.rpimg {
	min-height: 125px;
}
.shopping table .num {
	width: 60px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #af0917;
}
.cart_price {
	font-size: 13px;
	color: #000;
}
.cart_price span.dv {
	color: #41a62a;
}
.cart_price span.old {
	top: 0;
	margin-right: 5px;
	color: #000;
}
.cart_quantity {
	width: auto !important;
	padding: 5px 10px !important;
	border: 1px solid #888888 !important;
	border-radius: 0 !important;
	margin: 0 !important;
	float: left;
	text-align: center;
	font-weight: 600;
}
.q_block_inner {
	display: inline-block;
}
.qChange {
	float: left;
	border: 1px solid #888888;
	background: #888888;
	padding: 6px 15px;
	color: #fff;
}
.qChange:hover {
	background: #41a62a;
	cursor: pointer;
}
.bubble_bg {
	background: url(../image/cart_bg.png) 100% no-repeat, #f1f1f1;
	background-size: 100%;
	background-position: 0 0;
}
.red_button {
	text-transform: capitalize;
	background: #c81c20;
	color: #fff;
	border-bottom: 3px solid #990105;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
}
.green_button {
	text-transform: capitalize;
	background: #169a03;
	color: #fff;
	border: none;
	border-bottom: 3px solid #054701;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
}
.green_button.sm {
	padding: 3px 10px;
	font-size: .9em;
}
.red_button:active,
.green_button:active {
	position: relative;
	top: 1px;
}
.red_button:hover {
	background: #E44C50;
	color: #fff;
}
.green_button:hover {
	background: #1DB607;
	color: #fff;
}
.update_total_cart {
	display: none;
}
.price .current {
	color: #af0917;
}
.top-disclaimer {
	background: #363636;
	color: #fff;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 50px;
	font-size: 17px;
}
.searchImg {
	position: relative;
	top: -6px;
}
.about-top {
	background: url(../image/about_bg.png);
	background-attachment: fixed;
	min-height: 400px;
}
.top-title {
	color: #e2001a;
	text-align: center;
	margin: 50px 0 20px 0;
	font-size: 40px;
}
.top-description {
	color: #5e5e5e;
	text-align: center;
	max-width: 550px;
	margin: 0 auto;
}
#about .navigateButtons {
	margin-top: 30px;
}
#about .navigateButtons a {
	display: inline-block;
	color: #fff;
	background: url(../image/nav_b.png);
	padding: 17px 37px;
	min-width: 171px;
	text-align: center;
	font-size: 20px;
	margin: 0 10px;
}
.about-banner {
	margin: 20px 0;
}
.learn-title {
	background: #f1f1f1;
	color: #e2001a;
	padding: 20px;
	padding-top: 60px;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
}
#learn .sep {
	width: 100%;
	position: relative;
	top: 54px;
}
#learn {
	background: url(../image/map_bg.png);
	background-position: bottom;
	padding-bottom: 60px;
}
.about-description {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 19px;
	padding: 15px;
}
#about #contact {
	background: url(../image/b_s.png)
}
.contact-title {
	color: #fff;
	padding: 20px;
	padding-top: 60px;
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
}
.contact-description {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 19px;
	padding: 15px;
	color: #fff;
}
.contact-section {
	border-top: 1px solid #372f2b;
	border-bottom: 1px solid #372f2b;
	padding: 25px 0;
}
.contact-icon {
	height: 36px;
	width: 36px;
	/*float: left;*/
	display: inline-block;
}
.contact-icon.addr { background: url(../image/icon-adress.png); }
.contact-icon.phone { background: url(../image/icon-phone.png); }
.contact-icon.fax { background: url(../image/icon-fax.png); }
.contact-icon.email { background: url(../image/icon-email.png); }

.icons p {
	color: #fff;
	position: relative;
	top: -13px;
	left: 8px;
	/*float: left;*/
	display: inline-block;
}
.plane-icon {
	background: url(../image/plane-icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#contactForm {
	margin-top: 30px;
	margin-bottom: 50px;
}
#contactForm input {
	background-image: url('../img/pencil.png');
	background-position: right 16px top 12px;
	background-repeat: no-repeat;
	width: 100%;
	padding: 7px 12px;
	margin-bottom: 20px;
}
#contactForm textarea {
	padding: 12px;
	width: 100%;
	height: 95px;
	margin-bottom: 20px;
	resize: none;
}
#contactForm button {
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: #e2001a;
	text-transform: uppercase;
	font-size: 17px;
	height: 95px;
	color: #fff;
	width: 100%;
	text-align: center;
}
#contactForm .plane-icon {
	width: 38px;
	height: 32px;
	display: block;
	margin: 0 auto;
}
.others-title {
	color: #e2001a;
	margin-top: 100px;
	margin-bottom: 50px;
}
.rel-prod .checkbox {
	border-bottom: 1px solid #d7d7d7;
}
.rel-prod .checkbox label {
	font-size: 18px;
	font-weight: 800;;
}
.rel-prod .checkbox input {
	float: none;
	margin: 0;
	margin-left: 5px;
}
.topBannerContainer .container{
	position: relative;
	height: 198px;
	background: url(../image/top-banner.png);
	background-clip: content-box;
}
.topBannerContainer .shopnowBtn {
	position: absolute;
	right: 9px;
	bottom: 0;
	background: #af0917;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.topBannerContainer .banner-title {
	margin-top: 40px;
	font-weight: 600;
	font-size: 21px;
}
.topBannerContainer .banner-text {
	margin-top: 30px;
}
.topBannerContainer .close {
	position: absolute;
	top: 0;
	right: 9px;
	padding: 3px 6px;
	color: #fff;
	background: rgba(0,0,0,.7);
	font-weight: 400;
}
.checkout-title {
	text-transform: uppercase;
	text-align: center;
	color: #af0917;
	font-size: 24px;
	line-height: 40px;
}


.service-steps > .container > ul{
	list-style:none;
	margin:50px 0;
	padding:0
}

.service-steps > .container > ul > li{
	list-style:none;
	margin:0;
	padding:0;
	font-family: "titillium_webregular", Arial, serif;
}

.service-steps > .container > ul > li:first-child .step-item{
	background:none;
	padding-left:0
}

.service-steps > .container > ul > li:last-child .step-item-inner{
	background:none;
	padding-right:0
}

.step-item{
	background:url(../image/step-arrow-head.png) no-repeat left center;
	padding-left:10px;
}

.step-item-inner{
	background:url(../image/step-arrow-tail.png) no-repeat right center;
	padding-right:10px;
}

.step-item-container{
	background-color:#fff;
	border:#cccccc solid 1px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#363636;
	font-size:14px;
	line-height:.15em;
	position:relative;
	z-index:2;
	padding:15px 20px;
}

.step-item-decor{
	width:100%;
	bottom:-3px;
	left:0;
	position:absolute;
	z-index:1
}

.step-item-decor-inner{
	background-color:#fff;
	border:#cccccc solid 1px;
	height:3px;
	margin:0 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.step-item-label{
	overflow:hidden;
	line-height:18px;
	display: inline;
	margin-right: 5px;
}

.current-step .step-item-container{
	background-color:#363636;
	color:#fff
}

.passed-step .step-item-container{
	background-color:#41a62a;
	color:#fff
}
.checkout .checkout-content {
	background: #fff;
	padding: 15px 50px;
	border: 1px solid #ccc;
}
.checkout-content h2,
.checkout-content > p {
	color: #af0917;
	font-size: 20px;
}

.checkout-content input[type="text"],
.checkout-content input[type="password"],
.checkout-content select, 
.inputPen{
	background-image: url('../img/pencil.png');
	background-position: right 12px top 15px;
	background-repeat: no-repeat;
	height: 45px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
	padding-left: 30px;
	width: 100%;
	margin-top: 20px;
	margin-right: 20px;
}

.checkout-content select {
	background-image: url('../img/globe.png');
}
select[name="address_id"] {
	background: none;
	box-shadow: none;
	height: auto;
}

.page-repair-school-and-business .banner-section {
	background: url(../image/dark_bg.png);
	padding: 40px 0;
}

.request-question {
	color: #fff;
}
.request-question h1 {
	font-size: 40px;
	font-weight: 700;
}
.request-question  .desc {
	margin: 20px 0;
}
.request-question  .question {
	padding: 10px 20px;
	background: #e2001a;
	font-size: 18px;
	display: inline-block;
	margin: 0;
	line-height: 40px;
}
.request-question  .question + img {
	position: relative;
	top: -3px;
}
.request-question input {
	width: 100%;
	padding: 6px 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.request-question button:focus {
	outline: none;
}
.request-btn {
	position: relative;
	padding-left: 40px;
	border-radius: 2px;
}
.request-btn span {
	background: #116c07 !important;
	border-radius: 0 !important;
	position: absolute;
	height: 105% !important;
	width: 18% !important;
	top: -1px;
	left: -1px;
	padding: 8px;
}
.list-item .request-btn span {
	width: 26% !important;
}

.page-repair-school-and-business .heading {
	padding: 40px 0;
	font-size: 18px;
	color: #363636;
}
.heading h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: #41a62a;
}
.page-repair-school-and-business .list {
	background: #f1f1f1;
}
.list .list-item {
	padding: 40px 0;
	border-bottom: 1px solid #cecece;
}
.list .list-item h3 {
	font-size: 20px;
	font-weight: 700;
	color: #af0917;
}
.list .list-item:last-child{
	border: none;
}
.list .list-item:nth-child(even) .imgCont{
	float: right;
}
.ulTopButtons {
	margin: 0;
	padding: 0;
}
.ulTopButtons li {
	list-style: none;
	display: inline-block;
	float: left
}
#topBarMenu {
	float: right;
	border: none;
	border-radius: 0;
	line-height: 26px;
}
.ulTopButtons.dropdown-menu {
	left: initial;
	right: 0;
}
#pav-mainnav {
	height: 70px;
}
.currency, .language {
	margin: 0;
}
.lang_cur .btn-group {
	border-right: 1px solid #000;
}
.main_menu {
	background: transparent;
}
.main_menu .icon-bar {
	background: #474747 !important;
}
.main_menu:hover {
	background: #fff !important;
}
.main_menu:hover .icon-bar{
	background: #474747;
}


.sidr h4 { margin: 0 !important; }
.sidr-class-btn-success,
.sidr-class-cart input {
	background-color: #3ea228 !important;
	border-color: #3ea228 !important;
	padding: 6px 12px !important;
	box-shadow: 0px 3px 0px 0px #0E4D11 !important;
	margin-bottom: 7px;
	display: block;
	color: #fff !important;
	width: 100%;
	text-align: center;
}
.sidr-class-widget-product{
	background: #fff;
}
/*.sidr-class-s.sidr-class-mega-col .sidr-class-pavo-widget .sidr-class-menu-title {
	display: none;
}*/
.sidr-class-widget-product .sidr-class-image img {
	width: 100%;
}
.sidr-class-widget-product .sidr-class-name a, 
.sidr-class-widget-product .sidr-class-price-new{
	color: #000;
	font-size: 1.4em
}
.sidr-class-widget-product .sidr-class-price-new {
	font-size: 2.2em;
}
.sidr-class-mega-col span.sidr-class-price-old {
	color: red;
	text-decoration:  line-through;
}
.sidr-class-widget-product .sidr-class-rating {
	display: none;
}
.sidr-class-dropdown-menu .sidr-class-mega-col .sidr-class-pavo-widget .sidr-class-hwrap .sidr-class-menu-title { display: none;}
.sidr-class-dropdown-menu .sidr-class-mega-col .sidr-class-pavo-widget .sidr-class-hwrap li >a >.sidr-class-menu-title { display: block;}
.sidr-class-rpimg {
	width: 100%;
}

.testimonial td {
	padding: 20px;
	border-bottom: 1px solid #c1c1c1;
}
.category-list ul {
	padding-right: 26px;
}

.category-list ul li {
	list-style: none;
}
.category-list ul li a {
	background: url("../image/refine_arrow.png") no-repeat scroll 0 -19px transparent;
	padding-left: 12px;
	color: #363636;
	font-size: 14px;
	transition: all 0.4s ease 0s;
}
.category-list ul li a:hover {
	background-position: 0 5px;
	color: #000;
}